<ActionBar title="Tasks" class="action-bar">
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="toggleDrawer()" ios.position="left">
    </ActionItem>
    <NavigationButton icon="res://menu" ios:visibility="none"  android:visibility="collapsed" (tap)="toggleDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <side-drawer></side-drawer>
    </StackLayout>
    <StackLayout tkMainContent>
        <ListView class="list-group" height="100%" [items]="tasks" margin="10 0 0 0" (itemTap)="onTap($event)" separatorColor="white">
            <ng-template let-task="item" let-i="index">
                <CardView #item class="cardStyle" margin="0 10 10 10" elevation="20" radius="5">
                    <StackLayout>
                        <!--<Image stretch="aspectFill" src="~/images/placeholder.png"></Image>-->
                        <Label class="cardLabel cardTitle" textWrap="true" [text]="task?.name"></Label>
                        <Label class="cardLabel cardSubtitle" [text]="task?.description"></Label>
                        <GridLayout columns="*, *" orientation="horizontal" verticalAlignment="bottom" width="100%">
                            <!--<Button col="0" class="btn btn-primary" text="Action 1"></Button>-->
                            <Button col="1" class="btn btn-primary" margin="10 10 10 0" text="Details"
                                    [nsRouterLink]="['/tasks', task?._id]"></Button>
                        </GridLayout>
                    </StackLayout>
                </CardView>
            </ng-template>
        </ListView>
    </StackLayout>
</RadSideDrawer>
