// Import the theme’s variables
@import '../node_modules/nativescript-theme-core/scss/dark';
// Import global colors
@import "colors";

// Customize any of the theme’s variables here, for instance $btn-color: red;
$btn-color: $green;
$primary: $blue-gray-lighten;

// Import the theme’s main ruleset
@import '../node_modules/nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

.fa {
  font-family: "FontAwesome";
}

Page {
  background-color: $background-white;
}

RadListView {
  height: 100%;
}

ActionBar, .action-bar {
  background-color: $green;
  color: $header;
}

RadSideDrawer {
  padding: 0;
  margin: 0;
}

#main-list-container {
  margin-top: 20;
}

.sideStackLayout {
  background-color: $blue-gray;
}

.sideTitleStackLayout {
  margin-bottom: 20;
  background-color: $green;
}

.side-title {
  color: white;
  font-size: 20;
}

.sideLabel {
  color: white;
  font-size: 20;
  padding: 15 0 15 25;
}

.side-label {
  font-size: 20;
  color: white;
  padding: 15 0 15 25;
}

.profile-picture {
  width: 25%;
  border-radius: 200%;
  margin-top: 2%;
  margin-left: 5%;
}

.profile-text {
  margin-top: 2%;
  margin-left: 5%;
  color: black;
  font-size: 15vw;
}

.profile-text2 {
  margin-left: 5%;
  color: $blue-gray-lighten;
  font-size: 13vw;
  margin-bottom: 3%;
}

.mainStackLayout {
  padding: 30 20;
  height: 100%;
}

.btn {
  border-radius: 1;
}

.title {
  font-size: 16;
}

.fab-button {
  height: 60;
  width: 60; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 15;
  background-color: $green;
  horizontal-align: right;
  vertical-align: bottom;
}

