// Import the theme’s variables
@import '../node_modules/nativescript-theme-core/scss/dark';
// Import global colors
@import "colors";

// Customize any of the theme’s variables here, for instance $btn-color: red;
$btn-color: $green;
$primary: $blue-gray-lighten;

// Import the theme’s main ruleset
@import '../node_modules/nativescript-theme-core/scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.mdi {
  font-family: "Material Icons", "MaterialIcons-Regular";
}

Page {
  background-color: $background-white;
}

ActionBar {
  background-color: $header;
  color: $text-color;
}

RadSideDrawer {
  padding: 0;
  margin: 0;
}

.sideStackLayout {
  background-color: $blue-gray;
}

.side-title {
  color: white;
  font-size: 20;
}

.side-label {
  color: white;
}