<ActionBar [title]="title">
    <NavigationButton icon="res://ic_menu_black_24dp" (tap)="toggleDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <!--<Label class="side-title" text="Navigation Menu"></Label>-->
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <GridLayout>
                <ListView [items]="pages" (itemTap)="onItemTap($event)">
                    <template let-page="item">
                        <StackLayout orientation="horizontal">
                            <Label class="fa side-label sideLightGrayLabel"
                                   [text]="page.icon + page.name">
                            </Label>
                        </StackLayout>
                    </template>
                </ListView>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <router-outlet></router-outlet>
    </StackLayout>
</RadSideDrawer>
