<ActionBar title="Serverchip">
    <NavigationButton icon="res://ic_menu_black_24dp" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton [showOverNavigation]="true">
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Label class="side-title" text="Navigation Menu"  ></Label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <Label class="side-label sideLightGrayLabel" text="Primary" ></Label>
            <Label class="side-label" text="Social" ></Label>
            <Label class="side-label" text="Promotions" ></Label>
            <Label class="side-label sideLightGrayLabel" text="Labels" ></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <!--<Label text="mainContentText" textWrap="true" class="drawerContentText"></Label>-->
        <!--<Button class="btn btn-primary" text="OPEN DRAWER" (tap)=openDrawer()></Button>-->
    </StackLayout>
</RadSideDrawer>