<ActionBar title="Microchips">
    <NavigationButton icon="res://ic_menu_black_24dp" (tap)="toggleDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer tkExampleTitle tkToggleNavButton>
    <StackLayout tkDrawerContent class="sideStackLayout">
        <StackLayout class="sideTitleStackLayout">
            <Image horizontalAlignment="left" src="~/images/generic_profile.png" class="profile-picture"></Image>
            <label horizontalAlignment="left" text="User" class="profile-text"></label>
            <label horizontalAlignment="left" text="usermail@gmail.com" class="profile-text2"></label>
        </StackLayout>
        <StackLayout class="sideStackLayout">
            <GridLayout>
                <ListView [items]="pages">
                    <template let-page="item">
                        <StackLayout orientation="horizontal">
                            <Label class="fa side-label sideLightGrayLabel"
                                   [text]="page.icon + page.name"
                                   [nsRouterLink]="[page.route]"
                                   pageTransition="none">
                            </Label>
                        </StackLayout>
                    </template>
                </ListView>
            </GridLayout>
        </StackLayout>
    </StackLayout>
    <StackLayout tkMainContent>
        <ListView class="list-group" height="100%" [items]="microchips" (itemTap)="onTap($event)" separatorColor="white">
            <template let-microchip="item">
                <CardView #item class="cardStyle" margin="10" elevation="20" radius="5">
                    <StackLayout>
                        <!--<Image stretch="aspectFill" src="~/images/placeholder.png"></Image>-->
                        <Label class="cardLabel cardTitle" textWrap="true" [text]="microchip?.name"></Label>
                        <Label class="cardLabel cardSubtitle" [text]="microchip?.ip"></Label>
                        <GridLayout columns="*, *" orientation="horizontal" verticalAlignment="bottom" width="100%">
                            <Button col="1" class="btn btn-primary" text="Details"
                                    [nsRouterLink]="['/microchips', microchip._id]"></Button>
                        </GridLayout>
                    </StackLayout>
                </CardView>
            </template>
        </ListView>
    </StackLayout>
</RadSideDrawer>
