@import "../../colors";

.cardLabel {
  margin-left: 10;
  color: white;
}

.btn {
  border-radius: 5;
}

.cardTitle {
  font-size: 25;
  margin: 10 10 0 10;
}

.cardStyle {
  padding: 20;
  background-color: $blue-gray;
}
