<ActionBar [title]="task?.name">
    <NavigationButton text="Go Back" android.systemIcon="ic_menu_back" (tap)="onNavBtnTap()"></NavigationButton>
</ActionBar>

<StackLayout class="mainStackLayout">

    <!--<Image stretch="aspectFill" src="~/images/placeholder.png"></Image>-->
    <StackLayout orientation="horizontal">
        <Label class="font-weight-bold" text="Name: "></Label>
        <Label [text]="task?.name"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class="font-weight-bold" text="Description: "></Label>
        <Label [text]="task?.description"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class="font-weight-bold" text="Microchip name: "></Label>
        <Label [text]="microchip_name"></Label>
    </StackLayout>
    <StackLayout orientation="horizontal">
        <Label class="font-weight-bold" text="Microchip IP: "></Label>
        <Label [text]="microchip_ip"></Label>
    </StackLayout>
</StackLayout>



